name: Update stats

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
          waka_time_api_key: ${{ secrets.WAKATIME_API_KEY }}
          gh_token: ${{ secrets.GITHUB_TOKEN }}
          show_title: false
          time_range: last_7_days
          show_time: true
          show_total: true
          commit_message: "Updated waka-readme graph"
